/*
 *	wordpress-post-tabs-skin-base ui-tabs
 *
 *	Version:		1.0.0
 *	Author:			Roberto Solano
 *	Description:	Skin base para colores dinámicos
 *	Site:			Gaia Camp
 *	Plugin:			WordPress Post Tabs
 */
.wordpress-post-tabs-skin-base ul.ui-tabs,
.wordpress-post-tabs-skin-base ul.ui-tabs-nav {
	margin:0 !important;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:24px !important;
}

.wordpress-post-tabs-skin-base .ui-tabs {
	padding: 0;
	zoom: 1;
}
.wordpress-post-tabs-skin-base .ui-tabs .ui-tabs-nav {
	list-style: none;
	position: relative;
	padding: 1px 0;
	/* Añadido display y margin para centrar las pestañas en la página */
	display: inline-table;
	margin: 0 auto;
}
.wordpress-post-tabs-skin-base .ui-tabs .ui-tabs-nav li {
	position: relative;
	/* Quitamos float para centrar las petañas en la página */
	/*float: left;*/
	display: inline;
	border-width: 0 !important;
	margin: 0 4px 2px 0 !important;
	padding: 0 !important;
	list-style:none !important;
	line-height:24px !important;
}
.wordpress-post-tabs-skin-base .ui-tabs .ui-tabs-nav li a {
	float: left;
	text-decoration: none;
	/* padding aumentado */
	padding: 20px 50px !important;
	margin: 0 2px;
	color:#aaaaaa !important;
	line-height:24px !important;
	background-color:#eeeeee;
}
.wordpress-post-tabs-skin-base .ui-tabs .ui-tabs-nav li.ui-state-active a,
.wordpress-post-tabs-skin-base .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.wordpress-post-tabs-skin-base .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: text;
	color:#FFF !important;
	/* Quitamos color para aplicarlo de manera dinámica */
	/*background-color:#4e8ba0;*/
}
.wordpress-post-tabs-skin-base .ui-tabs .ui-tabs-nav li a,
.wordpress-post-tabs-skin-base .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-state-active a {
	cursor: pointer;
	outline: none;
	border: none;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.wordpress-post-tabs-skin-base .ui-tabs .ui-tabs-panel {
	padding: 4px 0;
	display: block;
	border-width: 0;
	background: none;
}
.wordpress-post-tabs-skin-base .ui-tabs .ui-tabs-hide {
	position: absolute;
	left: -10000px;
}

/*Start - Link*/
.wordpress-post-tabs-skin-base .wpts_ext {
	position: relative;
	float: left;
	border-width: 0 !important;
	margin: 0 4px 2px 0 !important;
	padding: 0 !important;
	list-style:none !important;
	line-height:24px !important;
	height:32px;
}
.wordpress-post-tabs-skin-base .wpts_ext a {
	float: left;
	text-decoration: none;
	/* Quitamos color para aplicarlo de manera dinámica */
	/*color:#4e8ba0 !important;*/
	line-height:24px !important;
	background-color:#eeeeee;
	padding: 4px 10px;
}
/*End - Link CSS*/

/*Top Tabs */
.wordpress-post-tabs-skin-base .ui-tabs .ui-tabs-nav li.ui-corner-top,
.wordpress-post-tabs-skin-base .ui-tabs-horizontal-top .wpts_ext {
	padding-bottom:4px!important;
	height:32px;
}
.wordpress-post-tabs-skin-base .ui-tabs .ui-tabs-nav li.ui-corner-top.ui-state-active {
	border-width: 0 !important;
	background:url(images/arrowt.gif) no-repeat bottom center;
}
.wordpress-post-tabs-skin-base .ui-tabs-horizontal-top .wpts_ext{}


/*Prev Next Button*/
.wordpress-post-tabs-skin-base a.wpts-mover {
	background: #eeeeee;
	padding: 3px 6px;
	/* Quitamos color para aplicarlo de manera dinámica */
	/*color: #4e8ba0;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight: bold;
	text-decoration: none;
	margin-bottom:0.8em;
	border:none;
}

/************************************************
* WPTS PRO Basic Styles
************************************************/
.wordpress-post-tabs-skin-base .wpts_spacer{ margin:5px 0 0 0 !important; }
.wpts-hide .wordpress-post-tabs-skin-base { display: none; }
.wordpress-post-tabs-skin-base .wpts-next-tab{ float: right; }
.wordpress-post-tabs-skin-base .wpts-prev-tab{ float: left; }
.wordpress-post-tabs-skin-base .wpts_cl{
	display:block;
	visibility:hidden;
	clear:left;
	height:0;
	content:".";
}
.wordpress-post-tabs-skin-base .wpts_cr{
	display:block;
	visibility:hidden;
	clear:right;
	height:0;
	content:".";
}
